<footer class="container-fluid bg-dark" style="height: 200px;">
    <div class="row">
        <section class="col"><p style="color: #FFFFFF">Colonne1</p></section>
        <section class="col"><p style="color: #FFFFFF">Colonne2</p></section>
        <section class="col"><p style="color: #FFFFFF">Colonne3</p></section>
    </div>
</footer>
